#iframe{
  margin: 10px;
  width: 1000px;
  text-align: center;
}

iframe{
  width: 200px;
  margin: auto;
  border: 1px solid #ffc100;
}

h4, p {
  text-align: left;
}

#actu{
	margin: 10px;
}

.produit{
  display: inline-block;
  width: 700px;
  padding-top: 20px;
}

.img_actu{
  width: 200px;
  height: 130px;
  border: 1px solid #ffc100;
}

.titre{
  color: #ffc100;
}

.descr{
  font-size: 12px;
}
