.slideshow {
   width: 900px;
   height: 300px;
   overflow: hidden;
   border: 3px solid #ffc100;
   margin: auto;
}

.slideshow ul {
    /* 4 images donc 4 x 100% */
   width: 400%;
   height: 200px;
   padding:0;
   margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}

.rubrique {
   width: 900px;
   height: 300px;
   padding-top: 50px;
   overflow:hidden;
   margin:auto;
}

.rub img{
   width: 50px;
   border: 3px solid #ffc100;
}

.rub{
   display: inline-block;
}

p {
   font-size: 12px;
}

h3 {
   font-family: StarJedi;
   font-size: 15px;
   color: #ffc100;   
}