#block_logement{
  width: 1000px;
  margin: auto;
  display: block;
  padding: 5px;
}

.produit{
  width: 900px;
  height: 170px;
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

#image{
  position: relative;
  display: inline-block;
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}

.habitat{
  width: 350px;
  height: 130px;
}

#texte{
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 500px;
}

.titre{
  color: #ffc100;
  text-align: left;
  font-weight: bold;
}

.prix{
  position: absolute;
  top:20px;
  right: 0px;
  width: 200px;
  text-align: center;
  font-size: 15px;
  font-family: impact;
  padding: 0px;
  margin: 0px;
  border: 1px solid #ffc100;
  padding: 3px;
}

.note{
  position: absolute;
  top: 50px;
  right: 0px;
}

.caracteristique{}

.description{
  font-style: italic;
  font-size: 12px;
}

#fleches{
  position: absolute;
  top: 150px;
  right: 10px;
  width: 55px;
}

#fleche{
  width: 50px;
  height: 50px;
}


#monnaie{
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0.85;
  color: white;
  position: absolute;
  top: 300px;
  right: 0px;
  padding-left: 10px;
}


@keyframes fondu {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

.monnaie_affiche {
  transition-duration: 1s;
  transform: translateX(0px);
  animation-duration: 5s;
  animation-name: fondu;
  }

.monnaie_cache {
  transition-duration: 1.5s;
  transform: translateX(400px);
  }

table{
  border: 2px solid #ffc100;
  border-collapse: collapse;
}

caption{
  margin-bottom: 15px;
  text-decoration: underline;
}

td, th {
  border : 1px solid #ffc100;
  text-align: center;
}

th{
  padding: 2px;
  color: black;
  background-color: #ffe38d;
  /*ffd34a*/
}
