/*@font-face{
	font-family:'Star Jedi';
	src:url('../polices/starjedi/StarJedi.ttf');
	font-weight: normal;
    font-style: normal;
}*/

body{
	background: url('../images/fond.jpeg');
	overflow: visible;
    font-family: 'Star Jedi',sans sertif;

}

#block{
	border-top: 50px;
	width: 1000px;
	height: 900px;
  margin: auto;
/*  background-color: #4f4f4f;	*/
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0.85;
  color: white;
  border-radius: 10px;
}

header{
	display: inline-block;
	align-items: flex-end;
}

#logo{
	float: left;
	width: 200px;
}

#logo img{
	width: 200px;
	height: 150px;
}

nav{
	width: 1000px;
}

.menu1{
	margin: 45px;
	margin-top: 65px;
	padding: 0;
	list-style-type: none;
}

.element{
	display: inline-block;
	width: 180px;
	height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#hdp{
	border-left: 2px solid #382100;
	border-right: 2px solid #382100;
	line-height: auto;
	font-size: 20px;
}

nav li a{
	display: block;
	text-decoration: none;
	color: #ffc100;
}

.menu2 nav{
	text-align: center;
	list-style-type: none;
	/*margin-left: 450px;
	padding-left: 0px;*/
	width: 1000px;
	margin: auto;
}

.menu2 ul{
	margin-top: 0px;
	padding-left: 0px;
}

#bdp{
	color: #ffc100;
	height: auto;
	width: 110px;
	font-size: 10px;
}

#point{
	color: #ffc100;
	height: auto;
	width: 110px;
	font-size: 25px;
}
