body{
	background: url('../images/fond.jpeg');
	overflow: visible;
}

#block{
	border-top: 50px;
	width: 1000px;
	height: 900px;
    margin: auto;
    background-color: #4f4f4f;
    color:white;
    border-radius: 10px;
    border
}